/*.html
/*.pdf
notes
.DS_Store
*.pickle
*.cache
*.log
*.webp
/ps/
__pycache__/
/dist/
/build/
/.idea/
och.json
lw_report_gen.log
weasyprint.log
samv.json
*_key.json
*apikey*.json
venv/
myvenv/
debug_alert_entities.py
lw_report_gen_mac_arm
security-summary.html
